@import 'src/variables.less';

.nav-header{
    display: flex;
    width: 325px;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 20px;
    border-bottom: 1px #424147 solid;
    border-right: 1px #424147 solid;
}
