.editor-header{
    display: flex;
    height: 45px;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    width: calc(100vw - 406px);
    border-bottom: 1px #424147 solid;
}
.breadcrumbs{
    margin-right: 15px;
}

.btn-options-header-class{
    margin: 0 9px 0 25px;
}