:host .editor-transparent {
    background-color: transparent !important;
    min-height: 0;
    height: auto;
    max-height: none;
    overflow: visible;
}

[tuiAppearance][data-appearance='no-border'] {
    outline: none;
}

.editor-wrapper {
    width: calc(100vw - 366px);
    height: calc(100vh - 50px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #b0b0b0 transparent;
}