:host .editor-transparent {
    background-color: transparent !important;
    height: calc(100vh - 46px);
    min-height: 0;
    overflow-y: auto;
}

[tuiAppearance][data-appearance='no-border'] {
    outline: none;
}

.editor-wrapper {
    width: calc(100vw - 366px);
}