@import 'src/variables.less';

body {
  padding: 0;
  background-color: @bg-color;
  font-family: @base-font;
  margin: 0;
}

.base-text {
  color: @base-color;
  font-weight: 500;
  cursor: default;
  font-size: 14px;
}

.primary-text {
  color: @base-color;
  font-weight: 600;
}

.d-flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
  height: 100%;
}

a {
  color: @base-color;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
  transition: 200ms;
}

a:hover,
a:active,
a:focus {
  color: @base-color-hover;
  transition: 200ms;
}