@import 'src/variables.less';

body {
  padding: 0;
  background-color: @bg-color;
  font-family: @base-font;
  margin: 0;
}

.base-text {
  color: @base-color;
  font-weight: 500;
  cursor: default;
}

.primary-text {
  color: @base-color;
  font-weight: 600;
}

.d-flex{
  display: flex;
}
.aic{
  align-items: center;
  height: 100%;
}