@bg-color: #313036;
@base-color: fade(#fff, 75%);
@base-color-hover: #fff;
@active-color: #46454A;
@active-color-hover: #504F54;
@base-line-color: #504F54;
@passive-color-hover: #989898;

@scrollbar-color:  #b0b0b0 transparent;



@font-face {
  font-family: 'Manrope';
  src: url('/assets/fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@base-font: 'Manrope', sans-serif;